<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

# Python for Algorithmic Trading

**Chapter 03 &mdash; Working with Financial Data**

## Sample Data Set from Eikon

## Reading Financial Data From Different Sources

### The Data Set

In [1]:
fn = '../data/AAPL.csv'

In [2]:
with open(fn, 'r') as f:
    for _ in range(5):
        print(f.readline(), end='')

Date,HIGH,CLOSE,LOW,OPEN,COUNT,VOLUME
2020-04-01,248.72,240.91,239.13,246.5,460606.0,44054638.0
2020-04-02,245.15,244.93,236.9,240.34,380294.0,41483493.0
2020-04-03,245.7,241.41,238.9741,242.8,293699.0,32470017.0
2020-04-06,263.11,262.47,249.38,250.9,486681.0,50455071.0

### Reading from a CSV File with Python

In [3]:
import csv

In [4]:
csv_reader = csv.reader(open(fn, 'r'))

In [5]:
data = [l for l in csv_reader]

In [6]:
data[:5]

[['Date', 'HIGH', 'CLOSE', 'LOW', 'OPEN', 'COUNT', 'VOLUME'],
 ['2020-04-01',
  '248.72',
  '240.91',
  '239.13',
  '246.5',
  '460606.0',
  '44054638.0'],
 ['2020-04-02',
  '245.15',
  '244.93',
  '236.9',
  '240.34',
  '380294.0',
  '41483493.0'],
 ['2020-04-03',
  '245.7',
  '241.41',
  '238.9741',
  '242.8',
  '293699.0',
  '32470017.0'],
 ['2020-04-06',
  '263.11',
  '262.47',
  '249.38',
  '250.9',
  '486681.0',
  '50455071.0']]

In [7]:
csv_reader = csv.DictReader(open(fn, 'r'))

In [8]:
data = [l for l in csv_reader]

In [9]:
data[:3]

[OrderedDict([('Date', '2020-04-01'),
              ('HIGH', '248.72'),
              ('CLOSE', '240.91'),
              ('LOW', '239.13'),
              ('OPEN', '246.5'),
              ('COUNT', '460606.0'),
              ('VOLUME', '44054638.0')]),
 OrderedDict([('Date', '2020-04-02'),
              ('HIGH', '245.15'),
              ('CLOSE', '244.93'),
              ('LOW', '236.9'),
              ('OPEN', '240.34'),
              ('COUNT', '380294.0'),
              ('VOLUME', '41483493.0')]),
 OrderedDict([('Date', '2020-04-03'),
              ('HIGH', '245.7'),
              ('CLOSE', '241.41'),
              ('LOW', '238.9741'),
              ('OPEN', '242.8'),
              ('COUNT', '293699.0'),
              ('VOLUME', '32470017.0')])]

In [10]:
sum([float(l['CLOSE']) for l in data]) / len(data)

272.38619047619045

### Reading from a CSV File with pandas

In [11]:
import pandas as pd

In [12]:
data = pd.read_csv(fn, index_col=0,
                   parse_dates=True)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2020-04-01 to 2020-04-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    21 non-null     float64
 1   CLOSE   21 non-null     float64
 2   LOW     21 non-null     float64
 3   OPEN    21 non-null     float64
 4   COUNT   21 non-null     float64
 5   VOLUME  21 non-null     float64
dtypes: float64(6)
memory usage: 1.1 KB

In [14]:
data.tail()

              HIGH   CLOSE     LOW    OPEN     COUNT      VOLUME
Date
2020-04-24  283.01  282.97  277.00  277.20  306176.0  31627183.0
2020-04-27  284.54  283.17  279.95  281.80  300771.0  29271893.0
2020-04-28  285.83  278.58  278.20  285.08  285384.0  28001187.0
2020-04-29  289.67  287.73  283.89  284.73  324890.0  34320204.0
2020-04-30  294.53  293.80  288.35  289.96  471129.0  45765968.0

In [15]:
data['CLOSE'].mean()

272.38619047619056

### Exporting to Excel and JSON

Create the local `data` folder if necessary via

    !mkdir data

In [16]:
data.to_excel('data/aapl.xls', 'AAPL')

In [17]:
data.to_json('data/aapl.json')

In [18]:
ls -n data/

total 24
-rw-r--r--  1 501  20  3067 May  7 11:15 aapl.json
-rw-r--r--  1 501  20  5632 May  7 11:15 aapl.xls

### Reading from Excel and JSON

In [19]:
data_copy_1 = pd.read_excel('data/aapl.xls', 'AAPL',
                            index_col=0)

In [20]:
data_copy_1.head()

              HIGH   CLOSE       LOW    OPEN   COUNT    VOLUME
Date
2020-04-01  248.72  240.91  239.1300  246.50  460606  44054638
2020-04-02  245.15  244.93  236.9000  240.34  380294  41483493
2020-04-03  245.70  241.41  238.9741  242.80  293699  32470017
2020-04-06  263.11  262.47  249.3800  250.90  486681  50455071
2020-04-07  271.70  259.43  259.0000  270.80  467375  50721831

In [21]:
data_copy_2 = pd.read_json('data/aapl.json')

In [22]:
data_copy_2.head()

              HIGH   CLOSE       LOW    OPEN   COUNT    VOLUME
2020-04-01  248.72  240.91  239.1300  246.50  460606  44054638
2020-04-02  245.15  244.93  236.9000  240.34  380294  41483493
2020-04-03  245.70  241.41  238.9741  242.80  293699  32470017
2020-04-06  263.11  262.47  249.3800  250.90  486681  50455071
2020-04-07  271.70  259.43  259.0000  270.80  467375  50721831

In [23]:
!rm data/*

## Working with Open Data Sources

In [24]:
import configparser
config = configparser.ConfigParser()
config.read('../pyalgo.cfg')

['../pyalgo.cfg']

In [25]:
import quandl as q

In [26]:
data = q.get('BCHAIN/MKPRU', api_key=config['quandl']['api_key'])

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4144 entries, 2009-01-03 to 2020-05-08
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   4144 non-null   float64
dtypes: float64(1)
memory usage: 64.8 KB

In [28]:
data['Value'].resample('A').last()

Date
2009-12-31        0.000000
2010-12-31        0.299999
2011-12-31        4.995000
2012-12-31       13.590000
2013-12-31      731.000000
2014-12-31      317.400000
2015-12-31      428.000000
2016-12-31      952.150000
2017-12-31    13215.574000
2018-12-31     3832.921667
2019-12-31     7385.360000
2020-12-31     9170.790000
Freq: A-DEC, Name: Value, dtype: float64

In [29]:
data = q.get('FSE/SAP_X', start_date='2018-1-1',
             end_date='2020-05-01',
             api_key=config['quandl']['api_key'])

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 579 entries, 2018-01-02 to 2020-04-30
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Open                   257 non-null    float64
 1   High                   579 non-null    float64
 2   Low                    579 non-null    float64
 3   Close                  579 non-null    float64
 4   Change                 0 non-null      object
 5   Traded Volume          533 non-null    float64
 6   Turnover               533 non-null    float64
 7   Last Price of the Day  0 non-null      object
 8   Daily Traded Units     0 non-null      object
 9   Daily Turnover         0 non-null      object
dtypes: float64(6), object(4)
memory usage: 49.8+ KB

In [31]:
q.ApiConfig.api_key = config['quandl']['api_key']

In [32]:
vol = q.get('VOL/MSFT')

In [33]:
vol.iloc[:, :10].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1006 entries, 2015-01-02 to 2018-12-31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hv10    1006 non-null   float64
 1   Hv20    1006 non-null   float64
 2   Hv30    1006 non-null   float64
 3   Hv60    1006 non-null   float64
 4   Hv90    1006 non-null   float64
 5   Hv120   1006 non-null   float64
 6   Hv150   1006 non-null   float64
 7   Hv180   1006 non-null   float64
 8   Phv10   1006 non-null   float64
 9   Phv20   1006 non-null   float64
dtypes: float64(10)
memory usage: 86.5 KB

In [34]:
vol[['IvMean30', 'IvMean60', 'IvMean90']].tail()

            IvMean30  IvMean60  IvMean90
Date
2018-12-24    0.4310    0.4112    0.3829
2018-12-26    0.4059    0.3844    0.3587
2018-12-27    0.3918    0.3879    0.3618
2018-12-28    0.3940    0.3736    0.3482
2018-12-31    0.3760    0.3519    0.3310

## Refinitiv Eikon Data API

`pip install eikon` &mdash; Requires a paid subscription.

In [35]:
import eikon as ek

In [36]:
ek.set_app_key(config['eikon']['app_key'])

2020-05-07 11:15:56,323 P[87076] [MainThread 4326989248] Error on handshake port 9000 : ReadTimeout(ReadTimeout())

In [37]:
help(ek)

Help on package eikon:

NAME
    eikon - # coding: utf-8

PACKAGE CONTENTS
    Profile
    data_grid
    eikonError
    json_requests
    news_request
    streaming_session (package)
    symbology
    time_series
    tools

SUBMODULES
    cache
    desktop_session
    istream_callback
    itemstream
    session
    stream
    stream_connection
    streamingprice
    streamingprice_callback
    streamingprices

VERSION
    1.1.2

FILE
    /Users/yves/Python/lib/python3.7/site-packages/eikon/__init__.py

### Retrieving Historical Structured Data

In [38]:
import warnings; warnings.simplefilter('ignore')

In [39]:
symbols = ['AAPL.O', 'MSFT.O', 'GOOG.O']

In [40]:
data = ek.get_timeseries(symbols,
                         start_date='2020-01-01',
                         end_date='2020-05-01',
                         interval='daily',
                         fields=['*'])

In [41]:
data.keys()

MultiIndex([('AAPL.O',   'HIGH'),
            ('AAPL.O',  'CLOSE'),
            ('AAPL.O',    'LOW'),
            ('AAPL.O',   'OPEN'),
            ('AAPL.O',  'COUNT'),
            ('AAPL.O', 'VOLUME'),
            ('MSFT.O',   'HIGH'),
            ('MSFT.O',  'CLOSE'),
            ('MSFT.O',    'LOW'),
            ('MSFT.O',   'OPEN'),
            ('MSFT.O',  'COUNT'),
            ('MSFT.O', 'VOLUME'),
            ('GOOG.O',   'HIGH'),
            ('GOOG.O',  'CLOSE'),
            ('GOOG.O',    'LOW'),
            ('GOOG.O',   'OPEN'),
            ('GOOG.O',  'COUNT'),
            ('GOOG.O', 'VOLUME')],
           names=['Security', 'Field'])

In [42]:
type(data['AAPL.O'])

pandas.core.frame.DataFrame

In [43]:
data['AAPL.O'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 84 entries, 2020-01-02 to 2020-05-01
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    84 non-null     float64
 1   CLOSE   84 non-null     float64
 2   LOW     84 non-null     float64
 3   OPEN    84 non-null     float64
 4   COUNT   84 non-null     float64
 5   VOLUME  84 non-null     float64
dtypes: float64(6)
memory usage: 4.6 KB

In [44]:
data['AAPL.O'].tail()

Field         HIGH   CLOSE     LOW    OPEN     COUNT      VOLUME
Date
2020-04-27  284.54  283.17  279.95  281.80  300771.0  29271893.0
2020-04-28  285.83  278.58  278.20  285.08  285384.0  28001187.0
2020-04-29  289.67  287.73  283.89  284.73  324890.0  34320204.0
2020-04-30  294.53  293.80  288.35  289.96  471129.0  45765968.0
2020-05-01  299.00  289.07  285.85  286.25  558319.0  60154175.0

In [45]:
%%time
data = ek.get_timeseries(symbols,
                         start_date='2020-05-05',
                         end_date='2020-05-06',
                         interval='minute',
                         fields='*')

CPU times: user 44.2 ms, sys: 2.87 ms, total: 47.1 ms
Wall time: 10.7 s

In [46]:
print(data['GOOG.O'].loc['2020-05-05 16:00:00':
                         '2020-05-05 16:04:00'].round(1))

Field                  HIGH     LOW    OPEN   CLOSE  COUNT  VOLUME
Date
2020-05-05 16:00:00  1367.4  1366.1  1366.4  1367.2   82.0  3308.0
2020-05-05 16:01:00  1369.0  1367.2  1367.4  1368.8  210.0  5455.0
2020-05-05 16:02:00  1369.5  1368.4  1368.8  1368.9  176.0  4900.0
2020-05-05 16:03:00  1369.8  1368.4  1369.2  1368.4  162.0  6133.0
2020-05-05 16:04:00  1369.3  1367.9  1368.4  1368.6  140.0  5080.0

In [47]:
for sym in symbols:
    print('\n' + sym + '\n', data[sym].iloc[-300:-295].round(1))

AAPL.O
 Field                 HIGH    LOW   OPEN  CLOSE  COUNT   VOLUME
Date
2020-05-05 19:01:00  300.9  300.7  300.9  300.7  917.0  88059.0
2020-05-05 19:02:00  300.9  300.7  300.7  300.8  634.0  60998.0
2020-05-05 19:03:00  300.8  300.6  300.8  300.7  733.0  75349.0
2020-05-05 19:04:00  300.8  300.6  300.7  300.8  632.0  56220.0
2020-05-05 19:05:00  300.9  300.8  300.8  300.9  522.0  51194.0

MSFT.O
 Field                 HIGH    LOW   OPEN  CLOSE  COUNT   VOLUME
Date
2020-05-05 19:01:00  183.6  183.5  183.6  183.5  679.0  73198.0
2020-05-05 19:02:00  183.6  183.5  183.5  183.6  595.0  79593.0
2020-05-05 19:03:00  183.6  183.5  183.6  183.6  505.0  61200.0
2020-05-05 19:04:00  183.6  183.5  183.6  183.6  357.0  27781.0
2020-05-05 19:05:00  183.6  183.6  183.6  183.6  592.0  54057.0

GOOG.O
 Field                  HIGH     LOW    OPEN   CLOSE  COUNT  VOLUME
Date
2020-05-05 19:01:00  1369.8  1368.7  1369.5  1369.0  158.0  5056.0
2020-05-05 19:02:00  1369.6  1368.7  1368.9  1368.9   32.0   950.0
2020-05-05 19:03:00  1369.5  1367.9  1369.3  1368.4  174.0  5186.0
2020-05-05 19:04:00  1369.2  1368.0  1368.8  1368.7   76.0  2809.0
2020-05-05 19:05:00  1369.6  1368.7  1368.7  1369.0   46.0  1186.0

In [48]:
%%time
data = ek.get_timeseries(symbols[0],
                         start_date='2020-05-05 15:00:00',
                         end_date='2020-05-05 16:00:00',
                         interval='tick',
                         fields=['*'])

CPU times: user 219 ms, sys: 16.1 ms, total: 235 ms
Wall time: 7.34 s

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 39869 entries, 2020-05-05 15:00:00.012000 to 2020-05-05 15:59:59.973000
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   VALUE   39818 non-null  float64
 1   VOLUME  39869 non-null  float64
dtypes: float64(2)
memory usage: 934.4 KB

In [50]:
data.head()

AAPL.O                    VALUE  VOLUME
Date
2020-05-05 15:00:00.012  298.05   100.0
2020-05-05 15:00:00.013  298.05   100.0
2020-05-05 15:00:00.013  298.05    60.0
2020-05-05 15:00:00.013  298.05    40.0
2020-05-05 15:00:00.013  298.05    56.0

In [51]:
resampled = data.resample('30s', label='right').agg(
            {'VALUE': 'last', 'VOLUME': 'sum'}) # <6>

In [52]:
resampled.tail()

                        VALUE   VOLUME
Date
2020-05-05 15:58:00  298.8750  11129.0
2020-05-05 15:58:30  298.9601  19818.0
2020-05-05 15:59:00  298.9000  18750.0
2020-05-05 15:59:30  298.9700  28733.0
2020-05-05 16:00:00  298.8900  24757.0

### Retrieving Historical Unstructured Data

In [53]:
headlines = ek.get_news_headlines(query='R:AAPL.O macbook',
                                  count=5,
                                  date_from='2020-4-1',
                                  date_to='2020-5-1')

In [54]:
headlines

,versionCreated,text,storyId,sourceCode
2020-04-20 21:33:37.332,2020-04-20 21:33:37.332000+00:00,"Apple said to launch new AirPods, MacBook Pro ...",urn:newsml:reuters.com:20200420:nNRAble9rq:1,NS:TIMIND
2020-04-20 10:20:23.201,2020-04-20 10:20:23.201000+00:00,"Apple might launch upgraded AirPods, 13-inch M...",urn:newsml:reuters.com:20200420:nNRAbl8eob:1,NS:BUSSTA
2020-04-20 02:32:27.721,2020-04-20 02:32:27.721000+00:00,Apple to reportedly launch new AirPods alongsi...,urn:newsml:reuters.com:20200420:nNRAbl4mfz:1,NS:HINDUT
2020-04-15 12:06:58.693,2020-04-15 12:06:58.693000+00:00,"Apple files a patent for iPhones, MacBook indu...",urn:newsml:reuters.com:20200415:nNRAbjvsix:1,NS:HINDUT
2020-04-09 21:34:08.671,2020-04-09 21:34:08.671000+00:00,Apple rolls out new software update for MacBoo...,urn:newsml:reuters.com:20200409:nNRAbi2nbb:1,NS:TIMIND

In [55]:
story = headlines.iloc[0]

In [56]:
story

versionCreated                     2020-04-20 21:33:37.332000+00:00
text              Apple said to launch new AirPods, MacBook Pro ...
storyId                urn:newsml:reuters.com:20200420:nNRAble9rq:1
sourceCode                                                NS:TIMIND
Name: 2020-04-20 21:33:37.332000, dtype: object

In [57]:
news_text = ek.get_news_story(story['storyId'])

In [58]:
from IPython.display import HTML

In [59]:
HTML(news_text)

## Storing Financial Data Efficiently

### Storing DataFrame Objects

In [60]:
from sample_data import generate_sample_data

In [61]:
print(generate_sample_data(rows=5, cols=4))

                            No0         No1         No2         No3
2021-01-01 00:00:00  100.000000  100.000000  100.000000  100.000000
2021-01-01 00:01:00   99.965918  100.065050  100.063784  100.016058
2021-01-01 00:02:00   99.896126   99.853106  100.051909   99.985001
2021-01-01 00:03:00   99.893056   99.856924   99.959842  100.080701
2021-01-01 00:04:00   99.954987   99.778804   99.927796  100.034123

In [62]:
%time data = generate_sample_data(rows=5e6, cols=10).round(4)

CPU times: user 4.11 s, sys: 873 ms, total: 4.99 s
Wall time: 5.02 s

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [64]:
h5 = pd.HDFStore('data/data.h5', 'w')

In [65]:
%time h5['data'] = data

CPU times: user 313 ms, sys: 431 ms, total: 745 ms
Wall time: 887 ms

In [66]:
h5

<class 'pandas.io.pytables.HDFStore'>
File path: data/data.h5

In [67]:
ls -n data/data.*

-rw-r--r--@ 1 501  20  440007240 May  7 11:16 data/data.h5

In [68]:
h5.close()

In [69]:
h5 = pd.HDFStore('data/data.h5', 'r')

In [70]:
%time data_copy = h5['data']

CPU times: user 457 ms, sys: 420 ms, total: 876 ms
Wall time: 881 ms

In [71]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [72]:
h5.close()

In [73]:
rm data/data.h5

In [74]:
%time data.to_hdf('data/data.h5', 'data', format='table')

CPU times: user 3.65 s, sys: 576 ms, total: 4.22 s
Wall time: 4.31 s

In [75]:
ls -n data/data.*

-rw-r--r--@ 1 501  20  446911683 May  7 11:16 data/data.h5

In [76]:
%time data_copy = pd.read_hdf('data/data.h5', 'data')

CPU times: user 256 ms, sys: 309 ms, total: 565 ms
Wall time: 565 ms

In [77]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [78]:
import tables as tb

In [79]:
h5 = tb.open_file('data/data.h5', 'r')

In [80]:
h5

File(filename=data/data.h5, title='', mode='r', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group) ''
/data/table (Table(5000000,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": Float64Col(shape=(10,), dflt=0.0, pos=1)}
  byteorder := 'little'
  chunkshape := (2978,)
  autoindex := True
  colindexes := {
    "index": Index(6, medium, shuffle, zlib(1)).is_csi=False}

In [81]:
h5.root.data.table[:3]

array([(1609459200000000000, [100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    ]),
       (1609459260000000000, [ 99.9982,  99.9804, 100.1187,  99.9814,  99.9845,  99.9969,  99.9546, 100.1686,  99.918 ,  99.9873]),
       (1609459320000000000, [ 99.9637, 100.0451, 100.0396,  99.8125,  99.9327,  99.9475, 100.0082, 100.1155,  99.8387, 100.0953])],
      dtype=[('index', '<i8'), ('values_block_0', '<f8', (10,))])

In [82]:
h5.close()

In [83]:
rm data/data.h5

### Using TsTables

In [84]:
%%time
data = generate_sample_data(rows=2.5e6, cols=5,
                            freq='1s').round(4)

CPU times: user 860 ms, sys: 190 ms, total: 1.05 s
Wall time: 1.06 s

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2500000 entries, 2021-01-01 00:00:00 to 2021-01-29 22:26:39
Freq: S
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
dtypes: float64(5)
memory usage: 114.4 MB

In [86]:
import tstables

In [87]:
import tables as tb

In [88]:
class desc(tb.IsDescription):
    ''' Description of TsTables table structure.
    '''
    timestamp = tb.Int64Col(pos=0)
    No0 = tb.Float64Col(pos=1)
    No1 = tb.Float64Col(pos=2)
    No2 = tb.Float64Col(pos=3)
    No3 = tb.Float64Col(pos=4)
    No4 = tb.Float64Col(pos=5)

In [89]:
h5 = tb.open_file('data/data.h5ts', 'w')

In [90]:
ts = h5.create_ts('/', 'data', desc)

In [91]:
h5

File(filename=data/data.h5ts, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group/Timeseries) ''
/data/y2020 (Group) ''
/data/y2020/m05 (Group) ''
/data/y2020/m05/d07 (Group) ''
/data/y2020/m05/d07/ts_data (Table(0,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)

In [92]:
%time ts.append(data)

CPU times: user 549 ms, sys: 259 ms, total: 809 ms
Wall time: 854 ms

In [93]:
# h5

In [94]:
import datetime

In [95]:
start = datetime.datetime(2021, 1, 2)

In [96]:
end = datetime.datetime(2021, 1, 3)

In [97]:
%time subset = ts.read_range(start, end)

CPU times: user 10.8 ms, sys: 4.87 ms, total: 15.7 ms
Wall time: 14.1 ms

In [98]:
start = datetime.datetime(2021, 1, 2, 12, 30, 0)

In [99]:
end = datetime.datetime(2021, 1, 5, 17, 15, 30)

In [100]:
%time subset = ts.read_range(start, end)

CPU times: user 40.4 ms, sys: 25.7 ms, total: 66.1 ms
Wall time: 66.4 ms

In [101]:
subset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 276331 entries, 2021-01-02 12:30:00 to 2021-01-05 17:15:30
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   No0     276331 non-null  float64
 1   No1     276331 non-null  float64
 2   No2     276331 non-null  float64
 3   No3     276331 non-null  float64
 4   No4     276331 non-null  float64
dtypes: float64(5)
memory usage: 12.6 MB

In [102]:
h5.close()

In [103]:
rm data/*

### Storing Data with SQLite3

In [104]:
%time data = generate_sample_data(1e6, 5, '1min').round(4)

CPU times: user 417 ms, sys: 92.9 ms, total: 510 ms
Wall time: 537 ms

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000000 entries, 2021-01-01 00:00:00 to 2022-11-26 10:39:00
Freq: T
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   No0     1000000 non-null  float64
 1   No1     1000000 non-null  float64
 2   No2     1000000 non-null  float64
 3   No3     1000000 non-null  float64
 4   No4     1000000 non-null  float64
dtypes: float64(5)
memory usage: 45.8 MB

In [106]:
import sqlite3 as sq3

In [107]:
con = sq3.connect('data/data.sql')

In [108]:
%time data.to_sql('data', con)

CPU times: user 4.86 s, sys: 496 ms, total: 5.36 s
Wall time: 5.54 s

In [109]:
ls -n data/data.*

-rw-r--r--@ 1 501  20  105316352 May  7 11:16 data/data.sql

In [110]:
query = 'SELECT * FROM data WHERE No1 > 105 and No2 < 108'

In [111]:
%time res = con.execute(query).fetchall()

CPU times: user 77.2 ms, sys: 32.1 ms, total: 109 ms
Wall time: 108 ms

In [112]:
res[:5]

[('2021-01-02 14:56:00', 95.8818, 105.0073, 101.8703, 95.0334, 100.2481),
 ('2021-01-02 15:02:00', 96.0003, 105.0244, 101.8224, 94.9175, 100.2968),
 ('2021-01-02 15:03:00', 96.1241, 105.0055, 101.7528, 94.9619, 100.3256),
 ('2021-01-02 15:04:00', 96.2036, 105.0295, 101.8097, 95.0345, 100.3991),
 ('2021-01-02 15:05:00', 96.317, 105.0074, 101.8206, 95.0034, 100.3331)]

In [113]:
len(res)

789

In [114]:
con.close()

In [115]:
rm data/*

<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

<a href="http://tpq.io" target="_blank">http://tpq.io</a> | <a href="http://twitter.com/dyjh" target="_blank">@dyjh</a> | <a href="mailto:training@tpq.io">training@tpq.io</a>